<p id="notice"><%= notice %></p>

<h1>Reserves</h1>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Movie</th>
      <th>Customer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reserves.each do |reserf| %>
      <tr>
        <td><%= reserf.date %></td>
        <td><%= reserf.movie_id %></td>
        <td><%= reserf.customer_id %></td>
        <td><%= link_to 'Show', reserf %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Reservar pelicula
</button>

<%= form_for(@reserf, url: reserves_path, method: :post ) do |f| %>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Reservar</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <%= f.date_select :date, placeholder: "Fecha (dd/mm/yyyy)" %>
          </div>
          <div class="form-group">
            <%= f.collection_select(:movie_id, Movie.all, :id, :name, {include_blank: true}, {class: 'form-control'}) %>
          </div>
          <div class="form-group">
            <%= f.collection_select(:customer_id, Customer.all, :id, :name, {include_blank: true}, {class: 'form-control'}) %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit "Aceptar", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>