<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @reserf.date %>
</p>

<p>
  <strong>Movie:</strong>
  <%= @reserf.movie_id %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @reserf.customer_id %>
</p>

<%= link_to 'Edit', edit_reserf_path(@reserf) %> |
<%= link_to 'Back', reserves_path %>
