<p id="notice"><%= notice %></p>

<h1>Peliculas</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Url</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.name %></td>
        <td><%= movie.description %></td>
        <td><%= movie.url %></td>
        <td><%= movie.date %></td>
        <td><%= link_to 'Ver', movie %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--<%= link_to 'Crear pelicula', new_movie_path %>-->

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Crear pelicula
</button>

<%= form_for(@movie, url: movies_path, method: :post ) do |f| %>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar pelicula</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <%= f.text_field :name, placeholder: "Nombre", :class => 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.text_field :description, placeholder: "Descripción", :class => 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.text_field :url, placeholder: "URL", :class => 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.date_select :date, placeholder: "Fecha (dd/mm/yyyy)", :class => 'form-control'%>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit "Aceptar", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
