<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @movie.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>

<p>
  <strong>Url:</strong>
  <%= @movie.url %>
</p>

<p>
  <strong>Date:</strong>
  <%= @movie.date %>
</p>

<%= link_to 'Volver', movies_path, class: 'btn btn-primary' %>
