<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% customer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :name, placeholder: "Nombre", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.text_field :email, placeholder: "Email", class: 'form-control'  %>
  </div>

  <div class="form-group">
    <%= form.number_field :identification, placeholder: "Cédula", class: 'form-control'  %>
  </div>

  <div class="form-group">
    <%= form.number_field :cellphone, placeholder: "Célular", class: 'form-control'  %>
  </div>

  <div class="actions">
    <%= form.submit 'Crear Cliente', class: 'btn btn-primary' %>
    <%= link_to 'Atras', customers_path, class: 'btn btn-primary' %>
  </div>


<% end %>
